@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --body-color: white;
    --sidebar-color: #FFF;
    --primary-color: #009adf;
    --primary-color-lifgt: #F0F0F1;
    --toggle-color: #b4adad;
    --text-color: #444343;
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: (var(--tran-05));
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 20px 15px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width: 88px;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

.sidebar header .logo-text{
    display:  flex;
    flex-direction: column;
}

header .image-text .name{
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform:  translateY(-50) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: #009adf;
    color: (var(--sidebar-color));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.darck .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(8deg);
}

.siderbar .menu{
    margin-top: 40px;
}

.siderbar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-lifgt);
    cursor: pointer;
    transition: var(--trans-05);
}

.siderbar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-lifgt);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.menu-bar::webkit scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{    
    border-radius: 6px;
    background-color: var(--primary-color-lifgt);
    position: relative;
    transition: var(--trans-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}

.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    text-align: center;
    
}

.home .img{
    width: 20px;
    height: 20px;
}

.home .text{
    font-size: 30px;
    font-family:  'Poppins', sans-serif;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;

}

.siderbar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text{
    color: var(--body-color);
}


#iframe-container {
    /* Establecer margen a la izquierda para dejar espacio para la barra lateral */
    margin-left: 90px;
    /* Establecer altura del contenedor al 100% del viewport */
    height: 100%;
    /* Transición suave del margen izquierdo */
    transition: margin-left 0.3s;
    /* Ocultar el contenido que sobrepasa el contenedor */
    overflow: hidden;
}

/* Estilos para la barra lateral cuando está en estado de expansión */
.sidebar.expand {
    /* Establecer un ancho mayor para mostrar completamente la barra lateral */
    width: 250px;
}

#iframe-container.expand {
    /* Desplazar el margen izquierdo para dejar espacio para la barra lateral expandida */
    margin-left: 250px;
}

/* Estilos generales para los iframes */
iframe {
    /* Establecer el ancho al 100% del contenedor */
    width: 100%;
    /* Establecer la altura al 100% del viewport */
    height: 100vh;
    /* Quitar el borde del iframe */
    border: none;
    background-color: white;
}

.bienvenidoUser{

    text-align: center;
    
    /* Establecer el ancho al 100% del contenedor */
    width: 100%;
    /* Establecer la altura al 100% del viewport */
    height: 100vh;
    /* Quitar el borde del iframe */
    border: none;
    background-color: white;
    
}

/* Estilos para el contenedor del Titulo y Iframe*/
#titulo-container{    
    margin-top: 2rem;
    /* Establecer margen a la izquierda para dejar espacio para la barra lateral */
    margin-left: 122px; /* 90px + 2rem = 122px (1rem = 16px) */
    /* Transición suave del margen izquierdo */
    transition: margin-left 0.3s;
    /* Ocultar el contenido que sobrepasa el contenedor */
    overflow: hidden;
}
