body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #f2f2f2;
}

form {
    background-color: #fff;
    padding: 20px 80px 20px 80px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 450px;
    height: 490px;
    margin: auto;
    line-height: 2rem;
}

hr{
    color: #0e81b7;
}

h2{
    text-align: center;
}

label{
    font-size: 20px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

input[type="submit"] {
    background-color: #0e81b7; /* Azul claro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #29B6F6; /* Azul claro al pasar el ratón */
}


/**/
.colums {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
}

[data-div="1"],
[data-div="2"],
[data-div="3"] {
    padding-right: 10px;
    margin-bottom: 10px;
}

/* Estilos para el botón de envío */
form button[type="button"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #009adf;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 6px;
}

/* Estilos para el botón de cancelar */
form button[type="button"] {
    background-color: #ccc;
}

/* Estilos para los botones al pasar el ratón */
form button[type="button"]:hover {
    background-color: #0073aa;
}